<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="card">
		<div class="card-body">
			<h1>Data Anggota</h1>
			<button type="button" class="btn btn-primary btn-fw" id="btn-tambah">Tambah
				Anggota</button>
			<table class="table table-hover">
				<tr>
					<td>Kode Anggota</td>
					<td>Nama Anggota</td>
					<td>Usia</td>
					<td>Detail</td>
					<td>Ubah</td>
					<td>Hapus</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<form th:action=@{/anggota/search/nama} method=post>
							<div class="input-group">
								<input type=text class="form-control"
									placeholder="Masukkan Nama Anggota" aria-label="Username"
									aria-describedby="colored-addon3" name=namaAnggota><br>
								<div class="input-group-append bg-primary border-primary">
									<button class="input-group-text bg-transparent" type=submit>Cari
									</button>
								</div>
							</div>
						</form>
					</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tbody id="list-anggota">
					<tr th:each="anggotaModel:${anggotaModelList}">
						<td><a th:text="${anggotaModel.kodeAnggota}"></a></td>
						<td><a th:text="${anggotaModel.namaAnggota}"></a></td>
						<td><button id="btn-lihat" type="button" class="btn btn-success btn-sm" th:value="${anggotaModel.kodeAnggota}">Lihat</button></td>
						<td><button id="btn-ubah" type="button" class="btn btn-warning btn-sm" th:value="${anggotaModel.kodeAnggota}">Ubah</button></td>
						<td><button id="btn-hapus" type="button" class="btn btn-danger btn-sm" th:value="${anggotaModel.kodeAnggota}">Hapus</button></td>
					</tr>
				</tbody>
			</table>
			<div id="modal-anggota" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">							
							<h4 class="modal-title">Pop-up anggota</h4>
						</div>
						<div class="modal-body">
							<p>Some text in the modal.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript">
	//ajax untuk pop-up tambah
	$('#btn-tambah').click(function() {
		var kodeAnggota = $(this).val();
		$.ajax({
			url : '/class1/anggota/add',
			type : 'get',
			dataType : 'html',
			data : {kodeAnggota,kodeAnggota},
			success : function(result) {
				$('#modal-anggota').modal('show');
				$('#modal-anggota').find('.modal-body').html(result);
			}
		});
	});
	//ajax untuk pop-up tambah
	
	//ajax untuk create
	$('#modal-anggota').on('submit','#form-anggota-tambah',function() {		
		$.ajax({
			url : '/class1/anggota/create',
			type : 'post',			
			data : $(this).serialize(),
			success : function(result) {
				alert('data anggota telah ditambah');
				/* $('#modal-anggota').modal('hide'); */	
				$('#isi').load('/class1/anggota/data');
			}
		});
		return false;
	});
	//ajax untuk create
	
	//ajax untuk pop-up lihat
	$('#list-anggota').on('click','#btn-lihat',function() {
		var kodeAnggota = $(this).val();
		$.ajax({
			url : '/class1/anggota/detail',
			type : 'get',
			dataType : 'html',
			data : {kodeAnggota,kodeAnggota},
			success : function(result) {
				$('#modal-anggota').modal('show');
				$('#modal-anggota').find('.modal-body').html(result);
			}
		});
	});
	//ajax untuk pop-up lihat
	
	//ajax untuk pop-up ubah
	$('#list-anggota').on('click','#btn-ubah',function() {
		var kodeAnggota = $(this).val();
		$.ajax({
			url : '/class1/anggota/ubah',
			type : 'get',
			dataType : 'html',
			data : {kodeAnggota,kodeAnggota},
			success : function(result) {
				$('#modal-anggota').modal('show');
				$('#modal-anggota').find('.modal-body').html(result);
			}
		});
	});
	//ajax untuk pop-up ubah
	
	//ajax untuk edit
	$('#modal-anggota').on('submit','#form-anggota-ubah',function() {		
		$.ajax({
			url : '/class1/anggota/update',
			type : 'post',			
			data : $(this).serialize(),
			success : function(result) {
				alert('data anggota telah diubah');
				$('#isi').load('/class1/anggota/data');
				$('#isi').modal('hide');
			}
		});
		return false;
	});
	//ajax untuk edit
	
	//ajax untuk pop-up hapus
	$('#list-anggota').on('click','#btn-hapus',function() {	
		if (confirm("Anda yakin?"))	{
			var kodeAnggota = $(this).val();
			$.ajax({
				url : '/class1/anggota/hapus',
				type : 'post',
				dataType: 'html',
				data : {kodeAnggota,kodeAnggota},			
				success : function(result) {
					$('#isi').load('/class1/anggota/data');						
				}
			});			
		}
		else {
			return false;
			}		
		});		
		
	//ajax untuk pop-up hapus	
</script>
</html>